name: publish-nx-catalog-service.yml
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - CHANGELOG.md

jobs:
  main:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 20.14
          registry-url: 'https://registry.npmjs.org/'
          scope: 'telicent-oss'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_REGISTRY_TOKEN }}
      - uses: pnpm/action-setup@v2
        with:
          version: 9
      # - run: pnpm install --filter '!@telicent-oss/catalogservice'
      # - run: pnpm build --filter '!@telicent-oss/catalogservice'
      # # TODO convert tests to Test Containers
      # # - run: pnpm nx run-many -t test,build -p @telicent-oss/rdfservice @telicent-oss/ontologyservice 
      # - run: cd ./packages/RdfService && npm publish --access public --provenance
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.NPM_REGISTRY_TOKEN }}
      #     NPM_CONFIG_PROVENANCE: true
      - run: pnpm install
      - run: pnpm build --filter '@telicent-oss/catalogservice'
      - run: pnpm publish --access public --provenance --filter '@telicent-oss/catalogservice'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_REGISTRY_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
